<%
   name = !user.name.nil? ? user.name : user.spotify_id
   image = !user.image.nil? ? user.image : "user_avatar.png"
   image_alt = !user.image.nil? ? user.image + "'s profile image" : "Default profile image"
   last_fm = user.last_fm_username
%>
<li class="row-flex">
  <div class="col-sm-2 col-xs-4"><%= image_tag(image, alt: image_alt) %></div>
  <div class="col-sm-4 col-xs-8"><%= user.spotify_id.nil? ? (link_to image_tag("spotify_log_in-desktop.png",
                                                                               alt: "Log in with Spotify"), login_path) : name %></div>
  <div class="col-sm-4 col-xs-12">
    <%= form_tag users_session_path(user), :method => :put, remote: true, class: "new_user", id: "new_user" do %>
        <%= text_field_tag(:last_fm_username, last_fm, class: "form-control", placeholder: "Last.fm username") %>
        <%= submit_tag "", :style => "display: none;" %>
    <% end %>
  </div>
  <div class="col-sm-2 col-xs-12"><%= link_to "Delete", users_session_path(user), method: :delete, class: "btn btn-danger btn-block",
                                              data: {confirm: "Are you sure?"} %></div>
</li>