<% unless @alert.nil? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <strong>Error.</strong> <%= @alert %>
    </div>
<% end %>

<div class="row">
  <div class="col-md-8 users">
    <h2 class="step">Step 1:
      <small>
        Add at least two persons
        <i class="glyphicon glyphicon-question-sign" data-toggle="popover" data-trigger="hover" data-container="body"
           title="Add persons" data-content="You can add persons by logging in with Spotify."></i>
      </small>
    </h2>
    <div class="jumbotron">
      <ul class="users list-unstyled" id="users">
        <% @display_users.each_with_index { |user, position| %>
            <%= render partial: 'users/user', locals: {user: user, position: position} %>
        <% } %>
        <li class="row row-flex new-user">
          <div class="col-xs-3 user-num text-center">
            #<%= @display_users.length + 1 %>
          </div>
          <div class="col-xs-9">
            <%= link_to image_tag("spotify_log_in-desktop.png", alt: "Log in with Spotify"), login_path %>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <h2>Step 2:
      <small>Get your playlist</small>
    </h2>

    <div class="playlist-progress hidden"></div>

    <%
       disabled = @display_users.length < 2
       if disabled
    %>

        <div data-toggle="popover" data-trigger="hover" data-placement="auto" data-container="body" title="Get playlist"
             data-content="You need to add at least two persons">
          <%=
              link_to "What To-Listen?", playlist_path, id: 'playlist', class: 'btn btn-primary btn-lg btn-block disabled'
          %>
        </div>
    <% else %>

        <%=
            link_to "What To-Listen?", playlist_path, id: 'playlist', remote: true, method: :post, class: 'btn btn-primary btn-lg btn-block'
        %>

    <% end %>
  </div>
</div>

