<h2>Playlist</h2>

<div class="text-center play">
  <%= content_tag :a, image_tag('spotify_listen-desktop.png', alt: 'Listen on Spotify'), {id: 'play', type: 'button', 'data-toggle' => 'modal', 'data-target' => '#usersModal'} %>
</div>

<% if @warning %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Warning!</strong> <%= @warning %>
    </div>
<% end %>

<div class="create-playlist hidden">
  <h3>Create playlist in:</h3>
  <ul class="row row-flex users-playlist list-unstyled">
    <% @users.each do |user| %>
        <li class="col-md-2 col-xs-6 text-center">
          <div><%= link_to image_tag(user.image, alt: user.image_alt), play_path(user.spotify_id), method: :post, class: 'user' %></div>
          <div><%= user.name %></div>
        </li>
    <% end %>
  </ul>
</div>

<div class="jumbotron">
  <ul class="list-unstyled tracks">
    <% @tracks.each_with_index do |track, index| %>
        <%= render partial: 'playlist/track', locals: {track: track, position: index + 1} %>
    <% end %>
  </ul>
</div>