<!DOCTYPE html>
<html>
<head>
  <title>To-Listen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <%= link_to(raw('
  <div>
    <div class="img">
      ' + image_tag("header_background.jpg") + '
    </div>
    <div class="container title">
      <h1>To-Listen<br>
        <small>Listen together</small>
      </h1>
    </div>
  </div>'), root_path) %>
</header>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
